USE master;
GO

ALTER DATABASE UserManagement SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
DROP DATABASE IF EXISTS UserManagement;
GO

CREATE DATABASE UserManagement;
GO

USE UserManagement;
GO

CREATE TABLE tblUsers (
    userID NVARCHAR(50) PRIMARY KEY,
    fullName NVARCHAR(100),
    password NVARCHAR(50),
    roleID NVARCHAR(10),
    phone NVARCHAR(20),
    address NVARCHAR(255),
    status BIT
);


CREATE TABLE tblProduct (
    id NVARCHAR(10) PRIMARY KEY,
    name NVARCHAR(100),
    price FLOAT,
    quantity INT
);


-- Tạo bảng Order
CREATE TABLE tblOrder (
    orderID NVARCHAR(20) PRIMARY KEY,
    userID NVARCHAR(50) FOREIGN KEY REFERENCES tblUsers(userID),
    date DATETIME DEFAULT GETDATE(),
    total FLOAT
);

-- Tạo bảng OrderDetail
CREATE TABLE tblOrderDetail (
    orderID NVARCHAR(20) NOT NULL, 
    productID NVARCHAR(10) NOT NULL,
    price FLOAT,
    quantity INT,
    PRIMARY KEY (orderID, productID),
    FOREIGN KEY (orderID) REFERENCES tblOrder(orderID),
    FOREIGN KEY (productID) REFERENCES tblProduct(id)
);
