/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jul 12, 2025, 2:55:10 PM
    Author     : 84904
*/

body {
    background-color: #f8f9fa;
}

h2 {
    font-weight: bold;
}

.table td, .table th {
    vertical-align: middle;
}

input.form-control-plaintext {
    background-color: transparent;
    border: none;
}
